# viteがデフォルトで追加してくれるやつ
node_modules
.DS_Store
dist
dist-ssr
*.local

# 自分で追加したやつ
.pnpm-debug.log
.idea
.env
eslint-setting.json

# yarn (not using Zero-Installs)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*